@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 960px;
}

header {
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 90vh;
  background-image: url("../img/capa-madmax2.jpg");
  padding: 20px;
  background-size: cover;
}

header:after {
  background: linear-gradient( 0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 212, 255, 0) 75% );
  content: "";
  height: 90vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

header .container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  z-index: 1;
  margin-top: -12px;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}

#main-nav {
  background-color: transparent;
  height: 48px;
  justify-content: space-between;
  align-items: center;
}

#main-nav a, #main-nav span {
  font-size: 13px;
  color: #fff;
  font-weight: 700;
}

#main-nav a {
text-transform: uppercase;
}

#main-nav li {
  padding: 25px;
}

.container #main-nav li:hover a, .container > div li:hover a  {
  color: #e4bb23;
  transition: all 0.2s ease-in-out;
}

#user {
  width: 151px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#user img {
  width: 45px;
  border-radius: 100%;
}

h2 {
  font-size: 65px;
  color: #fff;
  font-weight: bold;
  line-height: 1.2em;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  margin:0;
}

header .container > div nav {
  margin-top: 15px;
  margin-bottom: 30px;
}

header .container > div li {
  margin-right: 15px;
}

header .container > div a {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}

button {
  display: flex;
  align-items: center;
  border: none;
  padding: 15px 50px;
  padding-right: 15px;
  border-radius: 40px;
  display: flex;
  text-transform: capitalize;
  background-color: #e4bb23;
  font-size: 15px;
}

button:hover {
  background-color: #bc9a1d;
}

button i {
  margin-left: 10px;
  display: inline-block;
}

.fa-play-circle-o {
  margin-top: -5px;
  font-size: 23px;
}

#release-date {
  padding: 20px 0;
  font-size: 14px;
}

#release-date p {
  color: #fff
}

#release-date span {
  color: #bc9a1d
}

main nav ul {
  width: 100%;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

main nav li {
  margin: 0 20px;
}

main nav a:hover {
  border-bottom: 1px solid #e4bb23;
}

main nav a {
  padding: 25px 0;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #e4bb23
}

#movies-container ul {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
}

#movies-container > ul > li  {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  flex: 24%;
  margin-right: 9px;
}

#movies-container figure  {
  margin: 0;
  position: relative;
}

#movies-container img  {
  width: 100%;
}

#movies-container figure .play {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left:0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

#movies-container figure:hover .play {
 opacity: 1;
}

.play h3 {
  color: #e4bb23;
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}

.play i {
  color: #fff;
  font-size: 50px;
}

.play i:hover {
  color: #e4bb23;
}

.movie-info {
  padding: 10px
}

.movie-info h3 {
  font-size: 13px;
}

.movie-info a {
  font-size: 12px;
  color:#e4bb23
}

.movie-info ul {
  margin: 10px 0;
}

.movie-info a:hover {
  text-decoration: underline;
}

.movie-info > div {
  display: flex;
  justify-content: space-between;
}

.movie-info i {
  font-size: 20px;
  color: #ccc;
}

.movie-info i:hover {
  color: #e74c3c;
  cursor: pointer;
}

.movie-info span {
  font-size: 20px;
  font-weight: bold;
}