@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 960px;
}

header {
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 90vh;
  background-image: url("../img/capa-madmax2.jpg");
  padding-top: 18px;
  padding-bottom: 32px;
  background-size: cover;
}

header:after {
  background: linear-gradient( 0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 212, 255, 0) 75% );
  content: "";
  height: 90vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

header .container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  z-index: 1;
}

nav {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}

#main-nav {
  background-color: transparent;
  height: 48px;
  justify-content: space-between;
  align-items: center;
}

#main-nav a, #main-nav span {
  font-size: 13px;
  color: #fff;
  font-weight: 700;
}

#main-nav a {
text-transform: uppercase;
}

#main-nav li {
  padding: 25px;
}

.container #main-nav li:hover a, .container > div li:hover a  {
  color: #e4bb23;
  transition: all 0.2s ease-in-out;
}

#user {
  width: 151px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#user img {
  width: 45px;
  border-radius: 100%;
}

h2 {
  font-size: 65px;
  color: #fff;
  font-weight: bold;
  line-height: 1.2em;
  text-transform: uppercase;
  margin: 0;
}

header .container > div nav {
  margin-top: 15px;
  margin-bottom: 30px;
}

header .container > div li {
  margin-right: 15px;
}

header .container > div a {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}

button {
  display: flex;
  align-items: center;
  border: none;
  padding: 15px 50px;
  padding-right: 15px;
  border-radius: 40px;
  display: flex;
  text-transform: capitalize;
  background-color: #e4bb23;
  font-size: 15px;
}

button:hover {
  background-color: #bc9a1d;
}

button i {
  margin-left: 10px;
  display: inline-block;
}

.fa-play-circle-o {
  margin-top: -5px;
  font-size: 23px;
}

#release-date {
  padding: 20px 0;
  font-size: 14px;
}

#release-date p {
  color: #fff
}

#release-date span {
  color: #bc9a1d
}